﻿@page "/"
@inject IStringLocalizer<Resource> localizer
@inject NavigationManager NavManager
@using System.Globalization
@using Localization.Client.Extensions

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h2>Localizer</h2>
<p>
    @localizer["test"]
</p>
