﻿<strong>Culture:</strong>

<select class="form-control" @bind="Culture" style="width:300px; margin-left:10px">
    @foreach (var culture in cultures)
    {
        <option value="@culture">@culture.Name</option>
    }
</select>